# Project Euler Problem Set in Python
### Problems 16 - 20

## Power digit sum
### Problem #16
    
$2^{15} = 32768$ and the sum of its digits is $3 + 2 + 7 + 6 + 8 = 26.$

What is the sum of the digits of the number $2^{1000}$?

In [1]:
# bitwise exponentiation
assert sum(int(d) for d in str(0x01<<1000)) == 1366

#### Answer: 1366
---

## Number letter counts
### Problem #17
    
If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?

##### NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [2]:
W = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten',
     'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen',
     'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']

def to_en_lang(n):
    if 0 <= n < 20:
        return W[n]
    elif 20 <= n < 100:
        return W[n//10+18] + (W[n%10] if n%10!=0 else '')
    elif 100 <= n < 1000:
        return W[n//100] + "hundred" + ("and" + to_en_lang(n%100) if n%100!= 0 else '')
    elif 1000 <= n < 1000000:
        return to_en_lang(n//1000) + "thousand" + (to_en_lang(n%1000) if n%1000 != 0 else '')
    else:
        raise ValueError()

In [3]:
assert sum(len(to_en_lang(i)) for i in range(1, 1001)) == 21124

#### Answer: 21124
---

## Maximum path sum I
### Problem #8

By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.

<p><center><pre>
<b>3</b>
<b>7</b> 4
2 <b>4</b> 6
8 5 <b>9</b> 3
</pre></center></p>

That is, 3 + 7 + 4 + 9 = 23.
Find the maximum total from top to bottom of the triangle below.

<p><center><pre>
75
95 64
17 47 82
18 35 87 10
20 04 82 47 65
19 01 23 75 03 34
88 02 77 73 07 63 67
99 65 04 28 06 16 70 92
41 41 26 56 83 40 80 70 33
41 48 72 33 47 32 37 16 94 29
53 71 44 65 25 43 91 52 97 51 14
70 11 33 28 77 73 17 78 39 68 17 57
91 71 52 38 17 14 91 43 58 50 27 29 48
63 66 04 68 89 53 67 30 73 16 69 87 40 31
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23
</pre></center></p>

In [4]:
TREE = [['75'],\
        ['95', '64'],\
        ['17', '47', '82'],\
        ['18', '35', '87', '10'],\
        ['20', '04', '82', '47', '65'],\
        ['19', '01', '23', '75', '03', '34'],\
        ['88', '02', '77', '73', '07', '63', '67'],\
        ['99', '65', '04', '28', '06', '16', '70', '92'],\
        ['41', '41', '26', '56', '83', '40', '80', '70', '33'],\
        ['41', '48', '72', '33', '47', '32', '37', '16', '94', '29'],\
        ['53', '71', '44', '65', '25', '43', '91', '52', '97', '51', '14'],\
        ['70', '11', '33', '28', '77', '73', '17', '78', '39', '68', '17', '57'],\
        ['91', '71', '52', '38', '17', '14', '91', '43', '58', '50', '27', '29', '48'],\
        ['63', '66', '04', '68', '89', '53', '67', '30', '73', '16', '69', '87', '40', '31'],\
        ['04', '62', '98', '27', '23', '09', '70', '98', '73', '93', '38', '53', '60', '04', '23']]
for i in range(len(TREE)): TREE[i] = list(map(int, TREE[i])) # convert to int

In [5]:
def max_path_sum(triangle: list) -> int:
    """triangle: a list of lists of ints starting at the triangle top (row[0])
       -> sum of the max path"""
    while len(triangle) > 1:
        for i in range(len(triangle[-2])):
            triangle[-2][i] += max(triangle[-1][i], triangle[-1][i+1])
        triangle.pop(-1)
    return triangle[0][0]

In [6]:
assert max_path_sum(TREE) == 1074

#### Answer: 1074
---

## Counting Sundays
### Problem #19

You are given the following information, but you may prefer to do some research for yourself.

- 1 Jan 1900 was a Monday.
- Thirty days has September, April, June and November.
    All the rest have thirty-one, saving February alone, which has twenty-eight, rain or shine.
    And on leap years, twenty-nine.
- A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.

How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [7]:
from datetime import date

In [8]:
assert sum(1 for y in range(1901, 2001) for m in range(1, 13) 
           if date(y, m, 1).weekday() == 6) == 171

#### Answer: 171
---

## Factorial digit sum
### Problem #20

$n!$ means $n × (n − 1) × ... × 3 × 2 × 1$

For example, $10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800$,
and the sum of the digits in the number $10!$ is $3 + 6 + 2 + 8 + 8 + 0 + 0 = 27$.

Find the sum of the digits in the number $100!$

In [9]:
from math import factorial

In [10]:
assert sum(int(d) for d in str(factorial(100))) == 648

#### Answer: 648
---

<h1>Bonus problem</h1>

## Maximum path sum II
### Problem #67

By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.

<p><center><pre>
<b>3</b>
<b>7</b> 4
2 <b>4</b> 6
8 5 <b>9</b> 3
</pre></center></p>

That is, 3 + 7 + 4 + 9 = 23.

Find the maximum total from top to bottom in [triangle.txt](p067_triangle.txt) (right click and 'Save Link/Target As...'), a 15K text file containing a triangle with one-hundred rows.

##### NOTE: This is a much more difficult version of Problem 18. It is not possible to try every route to solve this problem, as there are 299 altogether! If you could check one trillion (1012) routes every second it would take over twenty billion years to check them all. There is an efficient algorithm to solve it. ;o)

In [11]:
with open('p067_triangle.txt') as f: 
    data = f.read().strip().split('\n')
    
triangle = []
for row in data:
    triangle.append(list(map(int, row.strip().split(' '))))
    
# max_path_sum defined in P8
assert max_path_sum(triangle) == 7273

#### Answer: 7273
---